# Welcome to your first Python Jupyter notebook  

## Press `shift` + `enter` to run a cell and advance to the next one.
That means press and hold a `shift` key and then hit `enter`

In [1]:
print("hello world")

hello world

In [14]:
print("My name is Ishita. I am from Nepal. I like danching.")

My name is Ishita. I am from Nepal. I like danching.

In [15]:
print("My name is Ishita. I am from Nepal. I like dancing.")
print("My name is Torri. I am from Tibet. I like to sing.")

My name is Ishita. I am from Nepal. I like dancing.
My name is Torri. I am from Tibet. I like to sing.

In [25]:
(My name is Ishita. I am from Nepal. I like dancing.=1)
(My name is Torri. I am from Tibet. I like to sing=2)
print(1+2)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (231822501.py, line 1)

If you ran the cell above and the words "hello world" were output below the cell, then congratulations! You have have a working Jupyter installation. If that doesn't work then you should get help from a mentor right away!

Let's play around in this notebook to get a feeling for the kind of things we can do with Python. Try running the cells below. You can also create new cells to do things that you want.

In [5]:
1+2

3

In [16]:
666.09-88

578.09

In [26]:
float(3.3-1.3)

1.9999999999999998

In [2]:
7-2

5

In [27]:
3.3-1.3

1.9999999999999998

In [17]:
6*7

42

In [18]:
455/5

91.0

In [21]:
sin=1
cos=3
print(cos-sin)

2

In [28]:
sin=2
cos=4
tan=1
print(cos-sin/tan)

2.0

In [23]:
A=5
B=4
print(9+A-B)

10

In [6]:
print("i love dogs")

i love dogs

In [3]:
print("i love momos")

i love momos

In [7]:
print("i love dogs".replace("dogs","cats"))

i love cats

In [14]:
print ("i love momos".replace ("love","like"))

i like momos

In [6]:
print("i love momos".replace("i love momos", "i hate momos"))

i hate momos

In [8]:
12345678.9 / 876

14093.240753424658

In [7]:
1.5/0.5

3.0

In programming culture, "Hello world" is often used as a ceremonial first program to test that a system is working.  Another culturally significant program calculates [Fibbonaci numbers](https://en.wikipedia.org/wiki/Fibonacci_number).  The cell below defines a command called `fib` that computes values of the Fibbonaci sequence.  It isn't at all important for you to understand what it's doing. It's just in this notebook for fun. Feel free to play with it for a little bit or just move on.

In [9]:
def fib(n):
    if n == 1 or n == 2:
        return(1)

    else:
        k = int(n/2)
        
    if n % 2 == 0:
        return fib(k) * (2 * fib(k +1) - fib(k))
    else:
        return fib(k + 1)**2 + fib(k)**2

In [10]:
fib(3)

2

In [11]:
fib(8)

21

In [14]:
fib(4)

3

In [12]:
fib (1)

1

In [15]:
fib(5)

5

In [16]:
fib(50)

12586269025

In [17]:
fib(1)

1

In [18]:
fib(20)

6765

In [19]:
2+2

4

In [13]:
fib(39)

63245986

In [1]:
type (4)

int

In [8]:
4

4

In [11]:
type (1)
type (1.0)

float

In [17]:
type (4)
x=4
5*x

20

In [18]:
type(5)
ishita=5
5*ishita

25

In [19]:
4

4

In [20]:
x=4

In [21]:
type("Ishita")

str

In [22]:
type ("1")

str

In [23]:
type(1)

int

In [24]:
"hello" + "world"

'helloworld'

In [29]:
name = "Jen"
"hello" + name

'helloJen'

In [31]:
"Hello" + str (1)

'Hello1'

In [32]:
len("hello")

5

In [33]:
len("")

0

In [34]:
len("dkfgnfdkjajgf")

13

In [37]:
name_length = len("fish")

In [39]:
"A"*40

'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'

In [41]:
"I am dancing"   * 3

'I am dancingI am dancingI am dancing'

In [42]:
int(0.25)

0

In [43]:
 total = 1.5 - 1/2
 total
 print(type(total))

<class 'float'>

In [48]:
if 6 > 5:
    print("six is greater thann 5!")

six is greater thann 5!

In [50]:
if "banana" in "bananarama":
    print("I miss 80s.")

I miss 80s.

In [51]:
if "ishita" in "ishitashahi":
    print("cohort 2023")

cohort 2023

In [52]:
if "i" in "ishitashahi":
    print("found")

found

In [54]:
if "o" in "ishita shahi":
    print(found)

In [56]:
sister=2
brother=1
if sister>brother:
    print("more sisters")
else:
    print("less sisters")

more sisters

In [57]:
1>0 and 1<2

True

In [58]:
1<2 and "x" in "abc"

False

In [59]:
"a" in "abc"

True

In [60]:
"a" in "hello" or "l" in "hello"

True

In [62]:
1<=0 or "a" not in "abc"

False

In [69]:
temperature = 7
if temperature> 5 and temperature <10:
    print("it is going to be a nice day") 
else:
    print ("harsh weather conditions")

it is going to be a nice day

In [70]:
temperature = 7
if temperature> 5 and temperature <10:
    print("it is going to be a nice day") 
else:
    print ('harsh weather conditions')

it is going to be a nice day

In [76]:
sister = 8
brother = 15
if sister > brother:
    print ("sister is younger")
elif sister == brother:
    print("same age!")
elif sister < brother:
    print("sister is elder")

sister is elder

In [79]:
sister = 0
brother = 0.5
if sister > brother:
    print ("sister is younger")
elif sister == brother:
    print("same age!")
elif sister < brother:
    print("sister is elder")
else:
    print("try again")

sister is elder

In [81]:
sister = 0.5
brother = 0.9
if sister > brother:
    print ("sister is younger")
elif sister == brother:
    print("same age!")
else:
    print("try again")

try again

In [87]:
sun= "gham"
if sun == "dark" or "hidden":
    print("gloomy")
elif sun == "bright" or "flash":
    print("nice day")

gloomy

In [88]:
0==0

True

In [89]:
0==1

False

In [90]:
0==0

True

In [91]:
0==0
0==1

False

In [92]:
"a" != "a"

False

In [104]:
cups_of_flour = 2.25
cups_of_sugar = 0.5
cups_of_butter = 1
the_total_volume_is = cups_of_flour+ cups_of_sugar+ cups_of_butter
print (the_total_volume_is)

3.75

In [107]:
number_of_batches = x
x= 1
print (the_total_volume_is * x)

3.75

In [108]:
number_of_batches = x
x= 0.5
print (the_total_volume_is * x)

1.875

In [109]:
number_of_batches = x
x= 3
print (the_total_volume_is * x)

11.25

In [110]:
number_of_batches = x
x= 5
print (the_total_volume_is * x)

18.75

In [1]:
the_total_volume = 3.75
one_pan_volume = 5 
two_pan_volume = 10
three_pan_volume = 15

In [11]:
the_total_volume = 3.75
one_pan_volume = 5

if the_total_volume <= one_pan_volume:
    print ("you will need one pan")

you will need one pan

In [118]:


if "ishita" in "ishitashahi":
    print("cohort 2023")

cohort 2023

In [119]:
ishita = 5
print()

In [12]:
input (This course will introduce basic programming and data science tools to give students the skills to use data to read, critique, and produce stories and insights. The class will cover the basics of the Python programming language, acquiring and processing public data, and basic tools and techniques for data analysis and visualization. We will focus on gaining access to data and basic data manipulation rather than complex statistical methods. The class will be built around student-designed independent projects and is targeted at students with no previous programming experience)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (107222254.py, line 1)

In [13]:
course_description = "This course will introduce basic programming and data science tools to give students the skills to use data to read, critique, and produce stories and insights. The class will cover the basics of the Python programming language, acquiring and processing public data, and basic tools and techniques for data analysis and visualization. We will focus on gaining access to data and basic data manipulation rather than complex statistical methods. The class will be built around student-designed independent projects and is targeted at students with no previous programming experience"

description_length = len (course_description)
print ("The total characters in the course description is", description_length)

The total characters in the course description is 580

In [14]:
course_description = "This course is an introduction to programming using Python. Topics covered include data types, control structures, functions, and object-oriented programming. Students will develop skills in problem-solving, algorithm design, and software development. No prior programming experience is required."

if "python" in course_description:
    print("The description has the word python.")
else:
    print("The description does not have the word python.")

The description does not have the word python.

In [15]:
course_description = "This course is an introduction to programming using Python. Topics covered include data types, control structures, functions, and object-oriented programming. Students will develop skills in problem-solving, algorithm design, and software development. No prior programming experience is required."

if "statistics" in course_description:
    print("The description has the word statistics.")
else:
    print("The description does not have the word statistics.")

The description does not have the word statistics.

In [16]:
course_description = "This course is an introduction to programming using Python. Topics covered include data types, control structures, functions, and object-oriented programming. Students will develop skills in problem-solving, algorithm design, and software development. No prior programming experience is required."

if "python","statistics", "visualization" in course_description:
    print("The description has the word python, statistics, visualization.")
else:
    print("The description does not have the word python, statistics, visualization.")

SyntaxError: invalid syntax (4211545548.py, line 3)

In [19]:
course_description = "This course is an introduction to programming using Python. Topics covered include data types, control structures, functions, and object-oriented programming. Students will develop skills in problem-solving, algorithm design, and software development. No prior programming experience is required."

if "statistics" in course_description:
    print("The description has the word statistics.")
if "python" in course_description:
    print("The description has the word python.")
if "visualization" in course_description:
    print ("The description has the word python.")
else:
    print ("The description does not contain any of the three words")

The description does not contain any of the three words

In [24]:
type ("ishita")
"ishita" *2

'ishitaishita'

In [25]:
the_total_volume = 3.75
one_pan_volume = 5

if the_total_volume <= one_pan_volume:
    print ("you will need one pan")

you will need one pan

In [42]:
the_total_volume = 3.75
number_of_batch = 0.5
total_batch_volume = the_total_volume * number_of_batch
print(total_batch_volume)

if total_batch_volume <=5:
    print ("you will need one pan")

1.875
you will need one pan

In [36]:
the_total_volume = 3.75
number_of_batch = 3
total_batch_volume = the_total_volume * number_of_batch
print(total_batch_volume)

11.25

In [52]:
the_total_volume = 3.75
number_of_batch = 5
total_batch_volume = the_total_volume * number_of_batch
print(total_batch_volume)

total_batch_volume = 18.75
if total_batch_volume <= 10 and total_batch_volume >=6:
    print ("you will need two pan")

18.75

In [53]:
if total_batch_volume <= 10 and total_batch_volume >=6:
    print ("you will need two pan")

In [ ]:
the_total_volume = 3.75

one_pan_volume = 5

if the_total_volume <= one_pan_volume:
    print ("you will need one pan")