# Welcome to your first Python Jupyter notebook  

## Press `shift` + `enter` to run a cell and advance to the next one.
That means press and hold a `shift` key and then hit `enter`

In [1]:
print("hello world")

hello world

If you ran the cell above and the words "hello world" were output below the cell, then congratulations! You have have a working Jupyter installation. If that doesn't work then you should get help from a mentor right away!

Let's play around in this notebook to get a feeling for the kind of things we can do with Python. Try running the cells below. You can also create new cells to do things that you want.

In [ ]:
1+2

In [ ]:
print("i love dogs")

In [ ]:
print("i love dogs".replace("dogs","cats"))

In [ ]:
12345678.9 / 876

In programming culture, "Hello world" is often used as a ceremonial first program to test that a system is working.  Another culturally significant program calculates [Fibbonaci numbers](https://en.wikipedia.org/wiki/Fibonacci_number).  The cell below defines a command called `fib` that computes values of the Fibbonaci sequence.  It isn't at all important for you to understand what it's doing. It's just in this notebook for fun. Feel free to play with it for a little bit or just move on.

In [ ]:
def fib(n):
    if n == 1 or n == 2:
        return(1)

    else:
        k = int(n/2)
        
    if n % 2 == 0:
        return fib(k) * (2 * fib(k +1) - fib(k))
    else:
        return fib(k + 1)**2 + fib(k)**2

In [ ]:
fib(3)

In [ ]:
fib(4)

In [ ]:
fib(5)

In [ ]:
fib(50)

In [ ]:
fib(1)

In [ ]:
fib(20)

In [2]:
1+1

2

In [3]:
1/2

0.5

In [4]:
 type(1)

int

In [5]:
 type(4)
 x = 4
 x
 type(x)
 2 * x

8

In [6]:
4

4

In [7]:
4

4

In [8]:
x=4

In [9]:
x

4

In [11]:
x=5

In [12]:
x

5

In [13]:
 "Hello"

'Hello'

In [14]:
 type("1")

str

In [15]:
 "Hello" + "World"

'HelloWorld'

In [16]:
 "Hello" + 1

TypeError: can only concatenate str (not "int") to str

In [17]:
"Hello" + str(1)

'Hello1'

In [18]:
 len("Hello")

5

In [19]:
 len("")

0

In [20]:
fish = "humuhumunukunukuapua'a"
 name_length = len(fish)

IndentationError: unexpected indent (471217677.py, line 2)

In [21]:
fish = "humuhumunukunukuapua'a"

In [22]:
 name_length = len(fish)

In [23]:
 name_length

22

In [24]:
fish + " is a Hawaiian fish whose name is " + str(name_length) + " characters long."

"humuhumunukunukuapua'a is a Hawaiian fish whose name is 22 characters long."

In [25]:
'I'm a happy camper'

SyntaxError: unterminated string literal (detected at line 1) (737747354.py, line 1)

In [26]:
 "A" * 40

'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'

In [27]:
 total = 1.5 - 1/2
 total
 print(type(total))

<class 'float'>

In [28]:
a = "quick"
 b =  "brown"
 c = "fox jumps over the lazy dog"
 print("The " +  a * 3 + " " +  b * 3 + " " + c)

IndentationError: unexpected indent (310036158.py, line 2)

In [29]:
a = "quick"

In [30]:
b =  "brown"

In [31]:
c = "fox jumps over the lazy dog"

In [32]:
print("The " +  a * 3 + " " +  b * 3 + " " + c)

The quickquickquick brownbrownbrown fox jumps over the lazy dog

In [33]:
if 6 > 5:
        print("Six is greater than five!")

Six is greater than five!

In [34]:
if 0 > 2:
     print("Zero is greater than two!")

In [35]:
if "banana" in "bananarama":
    print("I miss the 80s.")

I miss the 80s.

In [36]:
1 > 0 and 1 < 2

True

In [37]:
1 < 2 and "x" in "abc"

False

In [38]:
1 <= 0 or "a" not in "abc"

False

In [39]:
sister_age = 15
brother_age = 12
if sister_age > brother_age:
    print("sister is older")
elif sister_age == brother_age:
    print("sister and brother are the same age")
else:
    print("brother is older")

sister is older

In [40]:
color = "orange"
if color == "green" or color == "red":
  print("Christmas color!")
elif color == "black" or color == "orange":
  print("Halloween color!")
elif color == "pink":
  print("Valentine's Day color!")

Halloween color!

In [41]:
 True

 type(True)

 False

 type(False)

bool

In [42]:
 0 == 0

True

In [43]:
 "a" != "a"

False

In [44]:
 1 > 0

True

In [45]:
 "H" in "Hello"

True