In [3]:
2+2

4

In [4]:
1.5+2.25

3.75

In [5]:
4-2

2

In [6]:
100-.5

99.5

In [7]:
0-2

-2

In [8]:
2*3

6

In [9]:
1/2

0.5

In [105]:
4/2

2.0

In [11]:
type(1)

int

In [12]:
type(1.0)

float

In [13]:
type(4)

int

In [14]:
x=4

In [15]:
type(x)

int

In [16]:
2*x

8

In [17]:
magic_number=1500
amountOfflour=.75
my_name=Gabriela

NameError: name 'Gabriela' is not defined

In [21]:
x=4
y=9
x*y

36

In [22]:
 (2 * x) - (1 * y)

-1

In [23]:
type(Hello)

NameError: name 'Hello' is not defined

In [24]:
type(1)

int

In [26]:
"hello"+"world"

'helloworld'

In [29]:
name="Gabriela"
"hello"+name

'helloGabriela'

In [30]:
"hello"+1

TypeError: can only concatenate str (not "int") to str

In [31]:
"hello"+str(1)

'hello1'

In [35]:
 total = 1.5 - 1/2
 total
 print(type(total))

<class 'float'>

In [36]:
 total = 1.5 - 1/2
 total
 print(type(total))

<class 'float'>

In [93]:
 a = "quick"
 b =  "brown"
 c = "fox jumps over the lazy dog"
 print("The " +  a * 3 + " " +  b * 3 + " " + c)

The quickquickquick brownbrownbrown fox jumps over the lazy dog

In [38]:
if 6 > 5:
    print("Six is greater than five!")

Six is greater than five!

In [39]:
if 6 > 5:
    print("Six is greater than five!")

Six is greater than five!

In [54]:
if 0 > 2:
     print("Zero is greater than two!")
else:
     print(123)

123

In [48]:
if "banana" in "bananarama":
    print("I miss the 80s.")

I miss the 80s.

In [59]:
sister_age = 15
brother_age = 12
if ((sister_age > brother_age) or (sister_age == brother_age)):
    print("sister is older")
else:
    print("brother is older")

sister is older

In [63]:
1 > 0 and 1 < 2

True

In [64]:
1 < 2 and "x" in "abc"

False

In [65]:
"a" in "hello" or "e" in "hello"

True

In [66]:
1 <= 0 or "a" not in "abc"

False

In [71]:
if "a" in "alex":
    print ("yay")

yay

In [72]:
temperature = 32
if temperature > 60 and temperature < 75:
    print("It's nice and cozy in here!")
else:
    print("Too extreme for me.")

Too extreme for me.

In [74]:
hour = 11
if hour < 7 or hour > 23:
    print("Go away!")
    print("I'm sleeping!")
else:
    print("Welcome to the cheese shop!")
    print("Can I interest you in some choice gouda?")

Welcome to the cheese shop!
Can I interest you in some choice gouda?

In [76]:
sister_age = 15
brother_age = 15
if sister_age > brother_age:
    print("sister is older")
elif sister_age == brother_age:
    print("sister and brother are the same age")
else:
    print("brother is older")

sister and brother are the same age

In [80]:
color = "red"
if color == "green" or color == "red":
  print("Christmas color!")
elif color == "black" or color == "orange":
  print("Halloween color!")
elif color == "pink":
  print("Valentine's Day color!")

Christmas color!

In [87]:
color = "orange"
if color == "green" or color == "red":
  print("Christmas color!")
if color == "black" or color == "orange":
  print("Halloween color!")
if color == "pink":
  print("Valentine's Day color!")

Halloween color!

In [90]:
myBoolean = 0 == 0
print("myBoolean:"+str(myBoolean));

myBoolean:True

In [106]:
 "a" != "a"

 "a" != "A"

True

In [107]:
 1 > 0

 2 >= 3

 -1 < 0

 .5 <= 1

True

In [108]:
 "H" in "Hello"

 "X" in "Hello"

False

In [118]:
 "a" not in "abcde"

 "Perl" not in "Python Workshop"

True

In [119]:
print ("hello, world")

hello, world

In [1]:
course_description="This course will introduce basic programming and data science tools to give students the skills to use data to read, critique, and produce stories and insights. The class will cover the basics of the Python programming language, acquiring and processing public data, and basic tools and techniques for data analysis and visualization. We will focus on gaining access to data and basic data manipulation rather than complex statistical methods. The class will be built around student-designed independent projects and is targeted at students with no previous programming experience."
search_term = "Python"
if search_term in course_description:
    print("You will learn Phyton")

You will learn Phyton

In [3]:
my_variable=2*3
if my_variable == int:
    print("Is a number")
else:
    print("Not a number")

Not a number

In [9]:
my_variable=3*3
if type(my_variable) == int:
    print("Is a number")
else:
    print("Not a number")

Is a number