In [ ]:
#1 Shortbread

In [ ]:
#1.1 compute the total volume

In [1]:
cups_of_flour = 1.25
cups_of_sugar = 0.5
cups_of_butter = 1
the total volume = cups_of_flour + cups_of_sugar + cups_of_butter
print( (the total valume is) + str( the total volume ) + cups )

SyntaxError: invalid syntax (457819765.py, line 4)

In [4]:
cups_of_flour = 2.25
cups_of_sugar = 0.5
cups_of_butter = 1
the_total_volume = cups_of_flour + cups_of_sugar + cups_of_butter
print( "the total valume is " + str( the_total_volume ) + " cups" )

the total valume is 3.75 cups

In [ ]:
#1.2 Scale it up!

In [27]:
number_of_batches = 1
half_0f_batches = 0.5*float(the_total_volume)
print(("total valume of 1/2 batches is ") + str(half_0f_batches) + (" cups"))

total valume of 1/2 batches is 1.875 cups

In [33]:
number_of_batches = 3
total_0f_batches = int(number_of_batches)*float(the_total_volume)
print(("total valume of 3 batches is ") + str(total_0f_batches) + (" cups"))

total valume of 3 batches is 11.25 cups

In [34]:
number_of_batches = 5
total_0f_batches = int(number_of_batches)*float(the_total_volume)
print(("total valume of 5 batches is ") + str(total_0f_batches) + (" cups"))

total valume of 5 batches is 18.75 cups

In [ ]:
#1.Will it fit in my pans?

In [45]:
number_of_batches = 0.5
total_0f_batches = float(number_of_batches)*float(the_total_volume)

if total_0f_batches <= 15:
    print("it fits in pans")
elif total_0f_batches > 15:
    print("it will be too much to fit in any of my pans")

number_of_batches = 0.5

it fits in pans

In [46]:
number_of_batches = 3
total_0f_batches = int(number_of_batches)*float(the_total_volume)

if total_0f_batches <= 15:
    print("it fits in pans")
elif total_0f_batches > 15:
    print("it will be too much to fit in any of my pans")

number_of_batches = 3

it fits in pans

In [47]:
number_of_batches = 5
total_0f_batches = int(number_of_batches)*float(the_total_volume)

if total_0f_batches <= 15:
    print("it fits in pans")
elif total_0f_batches > 15:
    print("it will be too much to fit in any of my pans")

number_0f_batches = 5

it will be too much to fit in any of my pans

In [ ]:
# Analyzing the course description

In [ ]:
#2.1 Just the length

In [48]:
course_description = "This course will introduce basic programming and data science tools to give students the skills to use data to read, critique, and produce stories and insights. The class will cover the basics of the Python programming language, acquiring and processing public data, and basic tools and techniques for data analysis and visualization. We will focus on gaining access to data and basic data manipulation rather than complex statistical methods. The class will be built around student-designed independent projects and is targeted at students with no previous programming experience."
len(course_description)

581

In [ ]:
#2.2 Looking inside the text

In [50]:
course_description = "This course will introduce basic programming and data science tools to give students the skills to use data to read, critique, and produce stories and insights. The class will cover the basics of the Python programming language, acquiring and processing public data, and basic tools and techniques for data analysis and visualization. We will focus on gaining access to data and basic data manipulation rather than complex statistical methods. The class will be built around student-designed independent projects and is targeted at students with no previous programming experience."
len(course_description)

581

In [51]:
"python" in course_description

False

In [53]:
"python"in course_description or "statistics" in course_description

False

In [54]:
"python"in course_description or "statistics" in course_description or "visualization" in course_description

True

In [ ]:
#A program that knows its limits

In [58]:
my_variable = 1
the_value_of_the_multiplication = my_variable*3
print(the_value_of_the_multiplication)

3

In [62]:
my_variable =
"a"
the_value_of_the_multiplication = my_variable*3
print(the_value_of_the_multiplication)

aaa