In [3]:
formatted string Py 3.6
cups_of_flour = 2.25
cups_of_sugar = 0.5
cups_of_butter = 1.0
total_volume = cups_of_flour + cups_of_sugar + cups_of_butter
print(f"the total volume is {total_volume} cups")

the total volume is 3.75 cups

In [10]:
python
cups_of_flour = 2.25
cups_of_sugar = 0.5
cups_of_butter = 1.0
total_volume = cups_of_flour + cups_of_sugar + cups_of_butter
print (" The total volume is " + str (total_volume) + " cups ")

 The total volume is 3.75 cups

In [11]:
perl % operator
cups_of_flour = 2.25
cups_of_sugar = 0.5
cups_of_butter = 1.0
total_volume = cups_of_flour + cups_of_sugar + cups_of_butter
print("the total volume is %s cups" % total_volume)

the total volume is 3.75 cups

In [12]:
number_of_batches = 1 
total_volume_per_batch = total_volume * number_of_batches
print(f"the total volume of {number_of_batches} batch(es) is {total_volume_per_batch} cups")

the total volume of 1 batch(es) is 3.75 cups

In [13]:
number_of_batches = 0.5 
total_volume_per_batch = total_volume * number_of_batches
print(f"the total volume of {number_of_batches} batch(es) is {total_volume_per_batch} cups")

the total volume of 0.5 batch(es) is 1.875 cups

In [14]:
number_of_batches = 3 
total_volume_per_batch = total_volume * number_of_batches
print(f"the total volume of {number_of_batches} batch(es) is {total_volume_per_batch} cups")

the total volume of 3 batch(es) is 11.25 cups

In [15]:
number_of_batches = 5 
total_volume_per_batch = total_volume * number_of_batches
print(f"the total volume of {number_of_batches} batch(es) is {total_volume_per_batch} cups")

the total volume of 5 batch(es) is 18.75 cups

In [19]:
pan_capacity = 5
total_volume_half_batch = total_volume * 0.5
total_volume_3_batches = total_volume * 3
total_volume_5_batches = total_volume * 5

if total_volume_half_batch <= pan_capacity:
    print ("Half a batch will fit in one pan")
else:
    print ("Half a batch is too much to fit in one pan")
    
if total_volume_3_batches <= (2 * pan_capacity) :
    print ("Three batches will fit in two pans")

elif total_volume_3_batches <= (3 * pan_capacity) :
    print ("Three batches will fit in three pans")

else: 
    print ("three batches are too much to fit in any number of pans")

if total_volume_5_batches <= (3 * pan_capacity):
    print ( "Five batches will fit in three pans")
else:
    print ( "Five batches are too much to fit in any number of pans")

Half a batch will fit in one pan
Three batches will fit in three pans
Five batches are too much to fit in any number of pans

In [20]:
course_description = "This course will introduce basic programming and data science tools to give students the skills to use data to read, critique, and produce stories and insights. The class will cover the basics of the Python programming language, acquiring and processing public data, and basic tools and techniques for data analysis and visualization. We will focus on gaining access to data and basic data manipulation rather than complex statistical methods. The class will be built around student-designed independent projects and is targeted at students with no previous programming experience."
description_length = len(course_description)
print(description_length)

581

In [28]:
course_description = "This course will introduce basic programming and data science tools to give students the skills to use data to read, critique, and produce stories and insights. The class will cover the basics of the Python programming language, acquiring and processing public data, and basic tools and techniques for data analysis and visualization. We will focus on gaining access to data and basic data manipulation rather than complex statistical methods. The class will be built around student-designed independent projects and is targeted at students with no previous programming experience."

if "Python" in course_description:
    print ("This course will be based on Python.. You will need it")
else:
    print ("The course description does not contain the word 'Python'.")
if "Python" in course_description or "Statistics" in course_description :
    print ("The course description contains either 'Python' or 'Statistics'.")
else:
    print ("The course description does not contain the word 'Python' or 'Statistics'.")

if any(word in course_description for word in ["Python", "statistics", "visualisation"]): 
   print ("The course description contains at least one of the words 'python', 'statistics', or 'visualization'.")
else:
    print ("The course description does not contain any of the words 'python', 'statistics', or 'visualization'.")

This course will be based on Python.. You will need it
The course description contains either 'Python' or 'Statistics'.
The course description contains at least one of the words 'python', 'statistics', or 'visualization'.

In [32]:
my_variable = "lalala"
if isinstance (my_variable, (int, float)):
    print (my_variable * 3)
else:
    print ("error: cannnot multiple non numeric lalala")

error: cannnot multiple non numeric lalala

In [33]:
my_variable = 25 
print (my_variable * 3)

75