In [1]:
import json
import zstandard
import io
from datetime import datetime
import pandas as pd
import csv
import sys
import numpy as np

In [3]:
articles = []

with open("sean_output-combo-20230526.jsonl.zst", 'rb') as fh:
    dctx = zstandard.ZstdDecompressor()
    stream_reader = dctx.stream_reader(fh)
    text_stream = io.TextIOWrapper(stream_reader, encoding='utf-8')
    for line in text_stream:
        articles.append(line)

In [4]:
len(articles)

203350

In [5]:
articlesJ = []
for article in articles:
    data = json.loads(article)
    articlesJ.append(data)
    
len(articlesJ)

#with open("articles_compiled.json", 'w') as my_file:
 #   data_string = json.dumps(articles)
  #  print(data_string, file=my_file)

203350

In [4]:
article_list = []

with open("articles_compiled.json", 'r') as input_file:
    for article in input_file:
        input_data = json.loads(article)
        article_list.append(input_data)
        
len(article_list)

1

In [6]:
def sanitize_selftext(selftext):
    selftext = selftext.replace('\r\n\r\n', ' ')
    selftext = selftext.replace('\n', ' ')
    selftext = selftext.replace('\t', ' ')
    selftext = selftext.replace('\r', ' ')
    return selftext 

sanitize_selftext("hello\nhi\they")

'hello hi hey'

In [ ]:
type(articlesJ)
type(articlesJ[1])

In [7]:
d1 = datetime(2001,1,20)
d2 = datetime(2009,1,20)
d3 = datetime(2013,1,20)
d4 = datetime(2017,1,20)
d5 = datetime(2021,1,20)

#df = pd.DataFrame()

list_of_rows = []
    
for article in articlesJ:
    
    
    datetime_object = datetime.strptime(article["date"], '%Y-%m-%d %H:%M:%S')
    newtext = sanitize_selftext(article["body"])
    if newtext == "":
        newtext = " "
    if datetime_object < d2:
        administration = "Bush"
    elif datetime_object < d3:
        administration = "Obama 1"
    elif datetime_object < d4:
        administration = "Obama 2"
    elif datetime_object < d5:
        administration = "Trump"
    else:
        administration = "Biden"
    #print (f'{article["id"]}\t{datetime_object}\t{administration}\t{article["title"]}\t{article["author"]}\t{newtext}', file=output_file)
    list_of_rows.append({'id':article["id"],
                        'date':datetime_object,
                        'title':article['title'],
                        'administration':administration,
                        'author':article['author'],
                        'body':newtext})

#add title!

In [9]:
articlesdf = pd.DataFrame(list_of_rows)

In [10]:
articlesdf

,id,date,administration,author,body
0,1,2006-09-08 18:26:39,Bush,ARNEWS,"WASHINGTON (Army News Service, Sept. 6, 2006) ..."
1,2,2006-09-08 18:29:19,Bush,Army Athletic Communications,"WEST POINT, N.Y. (Army News Service, Sept. 8, ..."
2,3,2006-09-08 18:31:24,Bush,"Samantha L. Quigley, American Forces Press Se...","WASHINGTON (Army News Service, Sept. 8, 2006) ..."
3,4,2006-09-08 18:33:52,Bush,"Donna Miles, American Forces Press Service","WASHINGTON (Army News Service, Sept. 8, 2006) ..."
4,5,2006-09-08 18:36:52,Bush,Ed Beemer for the Army Office of Information A...,It's really very simple. If we keep our inform...
...,...,...,...,...,...
203345,267030,2023-05-25 16:13:55,Biden,Danielle Weinschenk and Nicolo Manzo,Leaders from Department of Defense ammunition ...
203346,267031,2023-05-25 16:39:33,Biden,"Brian Hill, Fort Leonard Wood Public Affairs O...","FORT LEONARD WOOD, Mo. — The U.S. Army Militar..."
203347,267032,2023-05-25 16:33:32,Biden,Rachel Ponder,"ABERDEEN PROVING GROUND, Md. — U.S. Army Commu..."
203348,267033,2023-05-25 16:46:17,Biden,"Erica Davis, Communication, Public Affairs, U....",Memorial Day 2023.pdf [PDF - 118.1 KB] FORT N...
203349,267035,2023-05-25 18:32:13,Biden,Sgt. 1st Class Kelvin Ringold,"FORT HUACHUCA, Ariz. – As Memorial Day approac..."

In [10]:
articlesdf.to_pickle('articlesdf.pkl')

In [ ]:
# d1 = datetime(2001,1,20)
# d2 = datetime(2009,1,20)
# d3 = datetime(2017,1,20)
# d4 = datetime(2021,1,20)

# with open("articles_lite.tsv", 'w') as output_file:
#     i = 0
#     print ("id\tdate\t\administration\ttitle\tauthor\tbody", file=output_file)
#     for article in articlesJ:
#         if i <= 1000:
#             datetime_object = datetime.strptime(article["date"], '%Y-%m-%d %H:%M:%S')
#             newtext = sanitize_selftext(article["body"])
#             if newtext == "":
#                 newtext = " "
#             if datetime_object < d2:
#                 administration = "Bush"
#             elif datetime_object < d3:
#                 administration = "Obama"
#             elif datetime_object < d4:
#                 administration = "Trump"
#             else:
#                 administration = "Biden"
#             print (f'{article["id"]}\t{datetime_object}\t{administration}\t{article["title"]}\t{article["author"]}\t{newtext}', file=output_file)
        
#             i+=1

In [10]:
csv.field_size_limit(100000000)
csv.field_size_limit(sys.maxsize)

100000000

In [18]:
data = pd.read_table("articles_lite_full.tsv", sep='\t', engine='python', on_bad_lines='warn', quoting=csv.QUOTE_NONE, quotechar="",  escapechar="\\", index_col=None)

Skipping line 5411: Expected 6 fields in line 5411, saw 7
Skipping line 7323: Expected 6 fields in line 7323, saw 7
Skipping line 8750: Expected 6 fields in line 8750, saw 7
Skipping line 9075: Expected 6 fields in line 9075, saw 17
Skipping line 9960: Expected 6 fields in line 9960, saw 7
Skipping line 10593: Expected 6 fields in line 10593, saw 7
Skipping line 11017: Expected 6 fields in line 11017, saw 7
Skipping line 12554: Expected 6 fields in line 12554, saw 7
Skipping line 14357: Expected 6 fields in line 14357, saw 7
Skipping line 14704: Expected 6 fields in line 14704, saw 7
Skipping line 14710: Expected 6 fields in line 14710, saw 7
Skipping line 16155: Expected 6 fields in line 16155, saw 7
Skipping line 16179: Expected 6 fields in line 16179, saw 7
Skipping line 16710: Expected 6 fields in line 16710, saw 7
Skipping line 17385: Expected 6 fields in line 17385, saw 7
Skipping line 18089: Expected 6 fields in line 18089, saw 7
Skipping line 18117: Expected 6 fields in line 18117, saw 7
Skipping line 18583: Expected 6 fields in line 18583, saw 7
Skipping line 20119: Expected 6 fields in line 20119, saw 7
Skipping line 20186: Expected 6 fields in line 20186, saw 7
Skipping line 20618: Expected 6 fields in line 20618, saw 7
Skipping line 20619: Expected 6 fields in line 20619, saw 7
Skipping line 21257: Expected 6 fields in line 21257, saw 7
Skipping line 21285: Expected 6 fields in line 21285, saw 7
Skipping line 21517: Expected 6 fields in line 21517, saw 7
Skipping line 21553: Expected 6 fields in line 21553, saw 7
Skipping line 21835: Expected 6 fields in line 21835, saw 7
Skipping line 28461: Expected 6 fields in line 28461, saw 7
Skipping line 29657: Expected 6 fields in line 29657, saw 7
Skipping line 32969: Expected 6 fields in line 32969, saw 8
Skipping line 34051: Expected 6 fields in line 34051, saw 7
Skipping line 34127: Expected 6 fields in line 34127, saw 7
Skipping line 34427: Expected 6 fields in line 34427, saw 7
Skipping line 34576: Expected 6 fields in line 34576, saw 7
Skipping line 35076: Expected 6 fields in line 35076, saw 7
Skipping line 36536: Expected 6 fields in line 36536, saw 11
Skipping line 37020: Expected 6 fields in line 37020, saw 7
Skipping line 46551: Expected 6 fields in line 46551, saw 7
Skipping line 46955: Expected 6 fields in line 46955, saw 8
Skipping line 47614: Expected 6 fields in line 47614, saw 7
Skipping line 73065: Expected 6 fields in line 73065, saw 11
Skipping line 130460: Expected 6 fields in line 130460, saw 11
Skipping line 171716: Expected 6 fields in line 171716, saw 11
Skipping line 175059: Expected 6 fields in line 175059, saw 7
Skipping line 175537: Expected 6 fields in line 175537, saw 7
Skipping line 178810: Expected 6 fields in line 178810, saw 7
Skipping line 180122: Expected 6 fields in line 180122, saw 7
Skipping line 196593: Expected 6 fields in line 196593, saw 7

In [4]:
data

,id,date,administration,title,author,body
0,1,2006-09-08 18:26:39,Bush,Army releases new interrogation manual,ARNEWS,"WASHINGTON (Army News Service, Sept. 6, 2006) ..."
1,2,2006-09-08 18:29:19,Bush,AKO to video stream Army's home opener vs. Ken...,Army Athletic Communications,"WEST POINT, N.Y. (Army News Service, Sept. 8, ..."
2,3,2006-09-08 18:31:24,Bush,9/11 Remembrance: NYPD cyclists begin fifth ri...,"Samantha L. Quigley, American Forces Press Se...","WASHINGTON (Army News Service, Sept. 8, 2006) ..."
3,4,2006-09-08 18:33:52,Bush,"Freedom Walks to commemorate 9/11, honor veterans","Donna Miles, American Forces Press Service","WASHINGTON (Army News Service, Sept. 8, 2006) ..."
4,5,2006-09-08 18:36:52,Bush,Guarding information is everyone's responsibility,Ed Beemer for the Army Office of Information A...,It's really very simple. If we keep our inform...
...,...,...,...,...,...,...
996,1338,2007-01-12 11:44:37,Bush,New Networks Monitor Power Distribution in Iraq,"Mohammed Aliwi, Army Corps of Engineers","AN NASSIRIYAH, Iraq, Jan. 10, 2007 - Restoring..."
997,1339,2007-01-12 11:55:54,Bush,Ford Funeral,SRTV,
998,1340,2007-01-12 12:00:26,Bush,Preventative Maintenance,SPC Rob Frasier,
999,1341,2007-01-12 12:04:43,Bush,"20,000 Additional Troops to Iraq",SRTV,
1000,1342,2007-01-12 12:30:33,Bush,Patient Care System Aims to Reduce Medical Errors,"Gerry J. Gilmore, American Forces Press Service","WASHINGTON, Jan. 12, 2007 - The defense depart..."

In [ ]:
data["administration"].hist(log=True)

In [ ]:
len(data)

In [ ]:
data.groupby("administration").count()

In [ ]:
#data['brexit'].value_counts(normalize=True) * 100

In [ ]:
print(data[data['body'].str.contains('President')])

In [ ]:
substring = 'Bush'
data[data.apply(lambda row: row.astype(str).str.contains(substring, case=False).any(), axis=1)]

In [ ]:
substring = 'Bush'
mask = data.applymap(lambda x: substring in x.lower() if isinstance(x,str) else False).to_numpy()
mask

In [ ]:
df.columns = ['c_name', 'f_name']

print data[data['administration'].str.contains('Bush', case=False)]

delta_df =data[~data['c_name'].str.contains('Bush', case=False)]
print delta_df[delta_df['f_name'].str.contains('Bush', case=False)]

In [ ]:
data['multi'] = ['Y' if x > 1 else 'N' for x in np.sum(data.values == 'Y', 1)]

In [ ]:
bushdf = data[data['administration'] == 'Bush']
print(bushdf[bushdf['body'].str.contains('Bush')])
print(len(bushdf))

In [ ]:
print(len(bushdf))

In [ ]:
len(data)