In [3]:
from ssadata import boys, girls

In [ ]:
# 1 - your own name

In [146]:
dionna_girls = (girls["dionna"])
print(f"there were {dionna_girls} girls born with the name 'dionna'")

print(boys["dionna"])

there were 15 girls born with the name 'dionna'

KeyError: 'dionna'

In [63]:
print("'dionna' is more popular for girls because there are no boys named 'dionna'")

'dionna' is more popular for girls because there are no boys named 'dionna'

In [44]:
# 2 - every baby counts

In [15]:
print(f"there are {len(boys)} boy names")
print(f"there are {len(girls)} girl names")

there are 13993 boy names
there are 17544 girl names

In [74]:
total = sum(boys.values()) + sum(girls.values())

print(f"there are {total} actual babies")

there are 3361375 actual babies

In [ ]:
# 3 - a sense of what's common

In [2]:
print(max(girls.values()))

most_common = int(input("enter value "))
for name in girls.keys():
    if girls[name] == most_common:
        print(f"{name} is the most common girls name")

17728
enter value 17728
olivia is the most common girls name

In [89]:
print(max(boys.values()))

common_boy = int(input("enter value "))
for names in boys.keys():
    if boys[names] == common_boy:
        print(f"{names} is the most common boys name")

20272
enter value 20272
liam is the most common boys name

In [163]:
print(min(girls.values()))
least_girls = []

least_common = int(input("enter value "))
for names in girls.keys():
    if girls[names] == least_common:
        least_girls.append(names)

print(f"{names} is one of the least common girl names")
print(f"there are {len(least_girls)} girl names that are the least common")

5
enter value 5
zyrihanna is one of the least common girl names
there are 2380 girl names that are the least common

In [164]:
print(min(boys.values()))
least_boys = []

least_common_boy = int(input("enter value "))
for names in boys.keys():
    if boys[names] == least_common_boy:
        least_boys.append(names)
        
print(f"{names} is one of the least common boy names")
print(f"there are {len(least_boys)} boy names that are the least common")

5
enter value 5
zyn is one of the least common boy names
there are 1941 boy names that are the least common

In [38]:
# i am SO annoyed by the least common names for boys and girls because it cuts off at 5 for both of them 
# and i thought i was doing something wrong for so long!!!
# after last week's coding challenge and we found 5000+ words with exactly 15 letters and not a single word with 16
# letters, i figured this data set would be something similar in terms of the data itself being limited 
# disclaimer - i intentionally had my code print the last least common name just so i didn't have thousands 
# of names printed

In [77]:
# 4 - she wasn't long for this data set

In [51]:
counter = []
longest_name = []

for key in girls.keys():
    if len(key) > len(counter):
        counter = key
        longest_name = [key]
    elif len(key) == len(counter):
        longest_name.append(key)
        
print(longest_name)
print(len(counter))

['mariadelcarmen', 'mariaguadalupe', 'mariavalentina']
14

In [53]:
counters = []
longest_boy_name = []

for keys in boys.keys():
    if len(keys) > len(counters):
        counters = keys
        longest_boy_name = [keys]
    elif len(keys) == len(counters):
        longest_boy_name.append(keys)
        
print(longest_boy_name)
print(len(counters))

['christopherjohn', 'muhammadibrahim']
15

In [ ]:
# what is going on?? idk :/ anything looks normal to me after the least common name results

In [ ]:
# 5 - intitials to spreadsheets

In [54]:
girl_initials = {}

for name in girls.keys():
    first_letter = name[0]
    if first_letter in girl_initials.keys():
        girl_initials[first_letter] += 1 
    else:
        girl_initials[first_letter] = 1

In [8]:
with open("girl_initials.tsv", "w") as my_file:
    print("letter\tunique names", file = my_file)
    for letter in girl_initials.keys():
        print(f"{letter}\t{girl_initials[letter]}", file=my_file)

In [55]:
boy_initials = {}

for names in boys.keys():
    first_letters = names[0]
    if first_letters in boy_initials.keys():
        boy_initials[first_letters] += 1
    else:
        boy_initials[first_letters] = 1

In [9]:
with open("boy_initials.tsv", "w") as my_file:
    print("letter\tunique names", file = my_file)
    for letter in boy_initials.keys():
        print(f"{letter}\t{boy_initials[letter]}", file=my_file)

In [12]:
# google sheet url

https://docs.google.com/spreadsheets/d/19JErGiEWQ0KsSxDFwXimIphG6iAQkkx2rzbqmBLRTgk/edit?usp=sharing

SyntaxError: invalid imaginary literal (4157053492.py, line 3)

In [ ]:
# 6 - concentration in names

In [140]:
percent = (boys["liam"] + boys["noah"] + boys["oliver"] + boys ["elijah"] + boys["james"] + boys["william"] + boys["benjamin"] + boys["lucas"] + boys["henry"] + boys["theodore"])/sum(boys.values())
total = percent*100

print(f"{total}% of boys have one of the 10 most popular boy names")

7.7798413978851135% of boys have one of the 10 most popular boy names

In [142]:
percentage = (girls["olivia"] + girls["emma"] + girls["charlotte"] + girls["amelia"] + girls["ava"] + girls["sophia"] + girls["isabella"] + girls["mia"] + girls["evelyn"] + girls["harper"])/sum(girls.values())
totals = percentage*100

print(f"{totals}% of girls have one of the 10 most popular girl names")

7.668376459192992% of girls have one of the 10 most popular girl names

In [59]:
len(boys)*.1

1399.3000000000002

In [100]:
boys_keys = list(boys.keys())
ten_percent = boys_keys[0:1399]
also_girls = []

for name in ten_percent:
    if name in girls.keys():
        also_girls.append(name)
        
print(f"of the top 10% most popular boy names there are {len(also_girls)} girls who also have that name")

of the top 10% most popular boy names there are 712 girls who also have that name

In [93]:
len(girls)*.1

1754.4

In [101]:
girls_keys = list(girls.keys())
top_ten_percent = girls_keys[0:1754]
also_boys = []

for names in top_ten_percent:
    if names in boys.keys():
        also_boys.append(names)
        
print(f"of the top 10% most popular girl names there are {len(also_boys)} boys who also have that name")

of the top 10% most popular girl names there are 517 boys who also have that name

In [ ]:
# 7 - something extra

In [161]:
palindromes = 0
new_girls = list(girls.keys())
palindrome_girls = []

for name in new_girls:
    name_reversed = ''
    for letter in name:
        name_reversed =  letter + name_reversed 
    if name == name_reversed:
        palindromes = palindromes + 1
        palindrome_girls.append(name)
        
print(f"there are {len(palindrome_girls)} palindrome girl names")
print()
print(palindrome_girls)

there are 39 palindrome girl names

['ava', 'hannah', 'anna', 'ada', 'ana', 'elle', 'eve', 'aya', 'emme', 'aviva', 'asa', 'ara', 'eevee', 'aja', 'aziza', 'layal', 'awa', 'ala', 'ama', 'anina', 'maram', 'alyla', 'aza', 'hanah', 'arora', 'afifa', 'alla', 'amma', 'maham', 'havah', 'izzi', 'yanay', 'ahsha', 'ailia', 'ivi', 'alula', 'ece', 'ese', 'ororo']

In [162]:
palindrome = 0
new_boys = list(boys.keys())
palindrome_boys = []

for name in new_boys:
    name_reversed = ''
    for letter in name:
        name_reversed =  letter + name_reversed 
    if name == name_reversed:
        palindromes = palindromes + 1
        palindrome_boys.append(name)
        
print(f"there are {len(palindrome_boys)} palindrome boy names")
print()
print(palindrome_boys)

there are 29 palindrome boy names

['otto', 'asa', 'natan', 'renner', 'jj', 'nayan', 'nosson', 'sahas', 'ara', 'nalan', 'nivin', 'efe', 'eze', 'ata', 'ege', 'naman', 'neven', 'alula', 'sabas', 'ava', 'lemel', 'abba', 'anna', 'bb', 'hannah', 'nitin', 'oso', 'oto', 'silis']

In [ ]:
# 8 - thinking about this data set

In [ ]:
# Where were these names pulled from? Does this include homebirths? Is this just in the US?
# Challenge 1 - 2021 was a prime time for COVID, how was this data collected? Did they have to change any of their methods?
# Challenge 2 - How did this data account for privacy? Is that why there's a cut off at names for less than five individuals?
# Assumptions - They assume that all babies are aaccounted for (reported, documented)